
    /*fonts*/

    @font-face {
    font-family: 'Objectivity';
    src: url('font/Objectivity-Bold.woff2') format('woff2'),
        url('font/Objectivity-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    }

    .hide{
      /*display: none;*/
      opacity: 0;
    }

    body{
        margin: 0;
        overflow-x: hidden;
        color: #FFFCFB;
    }

    h1{
      font-size: 50px;
    }

    h1, h2, h3, h4, h5, h6{
      font-family: 'Objectivity';
    }

    p, a{
      font-family: 'Raleway', sans-serif;
    }

    #stringlogo{
      font-family: 'Objectivity';
      letter-spacing: -2px;
      font-size: 24px;
    }

    /*Circles*/

    #circles-bg{
      height: 120%;
      width: 100%;
      position: fixed;
      z-index: -1;
      background-color: #131621;
    }

    #circles-bg img{
      height: 100%;
      overflow: hidden;
    }

    #circles-bg img.big{
      height: 80%;
      position: absolute;
    }

     #circles-bg img.small{
      height: 70%;
      position: absolute;
    }

    /*SLIDE #1*/
    #circles-bg img.big.c1{
      right: 8%;
      bottom: -20%;
    }

    #circles-bg img.small.c1{
      right: -8%;
      bottom: -30%;
    }

    /*SLIDE #2*/
    #circles-bg img.big.c2{
      right: 40%;
      bottom: -20%;
      transform: rotate(230deg) !important;
    }

    #circles-bg img.small.c2{
      right: 70%;
      bottom: -30%;
      transform: rotate(230deg) !important;
    }

    /*SLIDE #3*/
    #circles-bg img.big.c3{
      right: 40%;
      bottom: 60%;
      transform: rotate(130deg) !important;
    }

    #circles-bg img.small.c3{
      right: 70%;
      bottom: 80%;
      transform: rotate(130deg) !important;
    }

    /*SLIDE #4*/
    #circles-bg img.big.c4{
      right: 8%;
      bottom: 60%;
      transform: rotate(80deg) !important;
    }

    #circles-bg img.small.c4{
      right: -8%;
      bottom: 80%;
      transform: rotate(80deg) !important;
    }

    .circle.big, .circle.small{
      transition: bottom 2000ms cubic-bezier(0.510, 0.010, 0.550, 1.000),
                  right 2000ms cubic-bezier(0.510, 0.010, 0.550, 1.000),
                  transform 1000ms linear; /* custom */
    }

    /*Slider*/

    #slider{
      height: 100%;
      overflow: hidden;
    }

    #title_main{
        padding: 10% 0 0 3%;
        width: 33%;
        text-align: center;
    }

    .digisol_header{
        font-weight: 700;
        font-size: 110px;
        letter-spacing: -5px;
        color: white;
        margin: 0;
        position: relative;
        line-height: 0;
        font-family: 'Objectivity';
        transition: top 1000ms cubic-bezier(0.510, 0.010, 0.550, 1.000),
                    left 1000ms cubic-bezier(0.510, 0.010, 0.550, 1.000);
    }

    .clicked{
      transform: scale(0.9);
    }

    .digisol-item-pair{
      height: 0;
    }

    .menuitem{
      font-size: 30px;
      font-family: 'Raleway', sans-serif;
      line-height: 0;
      position: relative;
      left: 310px;
      text-decoration: none;
      color: #A43F94;
      transition: opacity 1000ms cubic-bezier(0.510, 0.010, 0.550, 1.000);
    }

    .menuitem3{
      left: 345px;
      top: 45px;
      color: #F2085B;
    }

    .menuitem2{
      left: 383px;
      top: 90px;
      color: #F8738D;
    }

    .menuitem1{
      left: 420px;
      top: 137px;
      color: white;
    }

    .layer1{
          color: white;
          top: 0;
          left: 0;
    }

    .layer2{
          left: 2px;
          top: 2px;
          color: #F8738D;
    }

    .layer3{
          left: 2px;
          top: -2px;
          color: #F2085B;
    }

    .layer4{
          left: -2px;
          color: #A43F94;
    }

    .header_step3{
      top: 47px;
      left: 47px;
    }

    .header_step2{
      top: 94px;
      left: 94px;
    }

    .header_step1{
      top: 141px;
      left: 141px;
    }

    .layer1:hover {
      animation: shake 0.55s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      animation-iteration-count:infinite;
      cursor: pointer;
    }

    @keyframes shake {
      10%, 90% {
        transform: translate3d(1px, -1px, 0);
      }

      20%, 80% {
        transform: translate3d(1px, 1px, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-1px, -1px, 0);
      }

      40%, 60% {
        transform: translate3d(-1px, 1px, 0);
      }
    }

    #digisol_subheader{
        font-weight: 400;
        font-size: 40px;
        color: white;
        margin: 0;
        margin-top: 60px;
    }

    h1 span{
        color: #F44C82 !important;
        font-weight: 700;
    }

    .corporate_gradient{
        background: linear-gradient(45deg, #212949 33%, #F20E6D 66%, #6969B3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;
        margin: 20px auto;
    }

    #sticky_rotated{
        position: absolute;
        margin: 0;
        left: -130px;
        bottom: 310px;
        transform: rotate(270deg);
        font-size: 24px;
    }

    /*menu*/

    #menu{
        padding: 0 7% 0 0;
    }

    .topnav-right{
        float: right;
    }

    #cont{
        position: relative;
        font-size: 18px;
    }

    #menu a{
        text-decoration: none;
        color: #FFFCFB;
        line-height: 18px;
    }

    #logo{
      margin-bottom: 65px;
      /*padding-left: 40px;*/
      width: 120px;
    }

    #logo svg{
        border-radius: 50%;
    }

    #lm{
        padding-left: 10%;
        color: white;
        font-size: 14px;
        padding-left: 18%;
        text-transform: uppercase;
    }

    #lm #cirme{
        background: linear-gradient(180deg, #FDF7C3 1.56%, #E51E6E 34.37%, #BC398A 68.23%, #6969AD 98.95%, #49576D 98.96%, #49576D 98.97%), #FFFFFF;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: inline-block;
    }

    #cirme svg{
        padding: 7px 0 0 9px;
    }

    /*about us*/

    .rightside{
      max-width: 992px;
      margin-left: auto;
      padding: 5% 0 0 80px;
    }

    .leftside{
      max-width: 992px;
      margin-right: auto;
      padding: 5% 80px 0 0;
    }

    section{
      color: white;
      padding: 50px;
      height: 100%;
    }

    #about-us .halftext{
      max-width: 70%;
      color: #FFFCFB;
      font-size: 24px;
    }

    #whatwedo{
      margin-top: 50px;
      text-align: right;
    }

    #whatwedo a{
      padding: 15px 25px;
      border-radius: 5px;
      font-size: 20px;
      font-family: 'Raleway', sans-serif;
      background-color: #F8738D;
      font-weight: 700;
      border: none;
      color: #131621;
      text-decoration: none;
    }
