
/*fonts*/

@font-face {
  font-family: 'Objectivity';
  src: url('font/Objectivity-Bold.woff2') format('woff2'),
      url('font/Objectivity-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('font/Objectivity-Medium.woff2') format('woff2'),
        url('font/Objectivity-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Objectivity';
    src: url('font/Objectivity-Regular.woff2') format('woff2'),
        url('font/Objectivity-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::after, ::before {
  box-sizing: content-box;
}

*:focus {
    outline: none;
}

.mobile{
  display: none;
}

.desktop{
  display: initial;
}

/*effects*/
.hide{
  left: 400% !important;
}

.hidden{
  visibility: hidden;
}

.goback{
  z-index: 0 !important;
}

.blur{
  filter: blur(4px);
}

.dark{
  filter: brightness(85%);
}

/* general */

body{
    margin: 0;
    overflow-x: hidden;
    color: #FFFCFB;
    font-weight: normal;
}

h1{
  font-size: 50px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Objectivity';
}

p, a{
  font-family: 'Raleway', sans-serif;
}

a:hover, a {
  text-decoration: none;
}

#stringlogo{
  font-family: 'Objectivity';
  letter-spacing: -1px;
  font-size: 24px;
  z-index: 2;
  font-weight: 600;
}

/*absolute layer*/
#footer{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 300;
  position: fixed;
  bottom: 20px;
  left: 37px;
  z-index: 999;
}

#footer i{
  color: white;
}

#footer a{
  margin-left: 15px;
}

#footer a:first-child {
  margin-left: 30px;
}




/*Circles*/

#circles-bg{
  height: 120%;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-color: #131621;
  transition: filter 1000ms cubic-bezier(0.510, 0.010, 0.550, 1.000);
}

#circles-bg img.big{
  height: 90%;
  position: absolute;
}

 #circles-bg img.small{
  height: 80%;
  position: absolute;
}

/*SLIDE #1*/
#circles-bg img.big.c1{
  right: 8%;
  bottom: -15%;
}

#circles-bg img.small.c1{
  right: -8%;
  bottom: -20%;
}

/*SLIDE #2*/
#circles-bg img.big.c2{
  right: 40%;
  bottom: -15%;
  transform: rotate(230deg) !important;
}

#circles-bg img.small.c2{
  right: 70%;
  bottom: -20%;
  transform: rotate(230deg) !important;
}

/*SLIDE #3*/
#circles-bg img.big.c3{
  right: 40%;
  bottom: 60%;
  transform: rotate(130deg) !important;
}

#circles-bg img.small.c3{
  right: 70%;
  bottom: 80%;
  transform: rotate(130deg) !important;
}

/*SLIDE #4*/
#circles-bg img.big.c4{
  right: 8%;
  bottom: 60%;
  transform: rotate(80deg) !important;
}

#circles-bg img.small.c4{
  right: -8%;
  bottom: 80%;
  transform: rotate(80deg) !important;
}

.circle.big, .circle.small{
  transition: bottom 1500ms cubic-bezier(0.510, 0.010, 0.550, 1.000),
              right 1500ms cubic-bezier(0.510, 0.010, 0.550, 1.000),
              transform 500ms linear,                                /* rotation */
              filter 1000ms linear; /* blur */
  /*will-change: transform, filter, bottom, right;*/
}

/*Slider*/
#slider{
  height: 100%;
  overflow: hidden;
}

#title_main{
  text-align: center;
  position: relative;
  transform: translate(-25%, 100%);
}

.digisol_header{
  font-weight: 700;
  font-size: 110px;
  /* font-size: 5.8375vw; */
  letter-spacing: -5px;
  color: white;
  margin: 0;
  position: relative;
  line-height: 0;
  font-family: 'Objectivity';
  /* transition: top 1000ms cubic-bezier(0.510, 0.010, 0.550, 1.000),
              left 1000ms cubic-bezier(0.510, 0.010, 0.550, 1.000); */
  transition: top 1000ms linear,
              left 1000ms linear;
}

.clicked{
  transform: scale(0.9);
}

.digisol-item-pair{
  height: 0;
}

.menuitem{
  font-size: 70px;
  font-family: 'Objectivity';
  font-weight: 500;
  line-height: 0;
  position: relative;
  left: 433px;
  white-space: nowrap;
  top: 10px;
  text-decoration: none;
  color: #A43F94;
  transition: left 1000ms linear;
  will-change: left, top;
}

.menuitem3{
  left: 450px;
  top: 55px;
  color: #F2085B;
  transition: left 850ms linear;
}

.menuitem2{
  left: 485px;
  top: 100px;
  color: #F8738D;
  transition: left 650ms linear;
}

.menuitem1{
  left: 525px;
  top: 147px;
  color: white;
  transition: left 500ms linear;
}

.layer1{
  color: white;
  top: 0;
  left: 0;
}

.layer2{
  left: 2px;
  top: 2px;
  color: #F8738D;
}

.layer3{
  left: 2px;
  top: -2px;
  color: #F2085B;
}

.layer4{
  left: -2px;
  color: #A43F94;
}

.header_step3{
  top: 45px;
  left: 46px;
}

.header_step2{
  top: 90px;
  left: 94px;
}

.header_step1{
  top: 135px;
  left: 142px;
}

.layer1:hover{
  cursor: pointer;

}

.wiggle:hover {
  animation: shake 0.55s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count:infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(1px, -1px, 0);
  }

  20%, 80% {
    transform: translate3d(1px, 1px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, -1px, 0);
  }

  40%, 60% {
    transform: translate3d(-1px, 1px, 0);
  }
}

#digisol_subheader{
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin: 0;
  margin-top: 60px;
}

h1 span{
  color: #F44C82 !important;
  font-weight: 700;
}

.corporate_gradient{
  background: linear-gradient(45deg, #212949 33%, #F20E6D 66%, #6969B3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  margin: 20px auto;
}

#sticky_rotated{
  position: absolute;
  margin: 0;
  left: -45px;
  bottom: 320px;
  transform: rotate(270deg);
  font-size: 18px;
  font-weight: 300;
}

/*menu*/

#menu{
  padding: 50px 75px 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
}

.topnav-right{
  float: right;
  margin-right: 10px;
}

#cont{
  position: relative;
  font-size: 18px;
  cursor: pointer;
}

#menu a{
  text-decoration: none;
  color: #FFFCFB;
  line-height: 18px;
  opacity: 1;
}

#logo{
  margin-bottom: 70px;
  width: 110px;
  cursor: pointer;
}


#lm{
    padding-left: 10%;
    color: white;
    font-size: 14px;
    padding-left: 18%;
    text-transform: uppercase;
}

#lm #cirme{
    background: linear-gradient(180deg, #FDF7C3 1.56%, #E51E6E 34.37%, #BC398A 68.23%, #6969AD 98.95%, #49576D 98.96%, #49576D 98.97%), #FFFFFF;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}

#cirme svg{
    padding: 7px 0 0 9px;
}

/*about us*/

.rightside{
  max-width: 992px;
  margin-left: auto;
  padding: 5% 0 0 80px;
}

.leftside{
  max-width: 992px;
  margin-right: auto;
  padding: 5% 80px 0 0;
}

section{
  color: white;
}

#about-us h2{
  margin-top: 5%;
  margin-bottom: 1%;
}

#about-us .halftext{
  font-family: Raleway, normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.06em;
  color: #FFFCFB;
  margin-left: -12px;
}

#about-us .description{
   min-width: 400px;
   width: 33%;
}

#about-us .gradline{
  min-width: 400px;
  width: 33%;
  padding-bottom: 2%;
  padding-top: 0;
}

#whatwedo{
  margin-top: 3%;
  text-align: left;
}

#whatwedo a{
  padding: 1.2% 3%;
  border-radius: 35px;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Raleway', normal;
  font-weight: 400;
  border: 1px solid white;
  text-decoration: none;
  color: #FFFCFB;
}

#about-us h3{
  position: relative;
  margin-top: 7%;
  margin-bottom: -1.5%;
  right: 12px;
  font-family: Raleway, normal;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.06em;
}

.imgrow{
  margin-top: 3.5%;
}

.imgrow .break1{
  margin: 0 5.7%;
}

.imgrow .break2{
  margin: 0 9%;
}

.imgrow img{
  position: relative;
  width: 14%;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.5s ease !important;
}

.imgrow img:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0) !important;
  -moz-filter: grayscale(0) !important;
  filter: grayscale(0) !important;
  opacity: 1 !important;
}

#bari{
  margin: 0 3.8%;
  width: 6%;
}

/*services*/
.dark-bg{
  background-color: rgba(0, 0, 0, 0.82);
  padding: 1% 7% 3%;
  margin: 65px 2% 10% 2%;
}

.dark-bg h2{
  font-family: 'Objectivity';
  font-size: 64px;
  line-height: 65px;
  letter-spacing: -0.08em;
  color: #FFFCFB;
  margin-top: 16px;
  margin-bottom: 25px;
  font-weight: normal;
  margin-left: -15px;
}

.gradline{
  margin-left: -12px;
  width: 100%;
  height: 2px;
}

#services-text{
  margin-top: 6%;
  font-family: 'Raleway', sans-serif;
}

.servicerow{
  margin-bottom: 5%;
}

.work{
  justify-content: space-between;
  margin-bottom: 5%;
  font-size: 17px;
}

.workhead{
  font-weight: 400;
  font-size: 17px;
}

.workdesc{
  margin-top: 6%;
  font-weight: 200;
  padding-right: 15%;
  line-height: 16px;
  font-size: 16px;
}

.mirror{
  position: absolute;
}

.stringlogo{
  font-family: 'Objectivity';
  letter-spacing: -2px;
  font-size: 24px;
  font-weight: 500;
  left: 60px;
  top: 60px;
  opacity: 0.3;
  filter: blur(1px);
}

.cont{
  font-size: 18px;
  opacity: 0.3;
  filter: blur(1px);
  right: 50px;
  top: 60px;
}


@-webkit-keyframes fadeInLeftline {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftline {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftline {
  -webkit-animation-name: fadeInLeftline;
  animation-name: fadeInLeftline;
}

/*contact us form pop-up window*/

@-webkit-keyframes fadeInDownForm {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -60%, 0);
    transform: translate3d(0, -60%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

@keyframes fadeInDownForm {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -60%, 0);
    transform: translate3d(0, -60%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
}

.fadeInDownForm {
  -webkit-animation-name: fadeInDownForm;
  animation-name: fadeInDownForm;
}



@-webkit-keyframes fadeInTopForm {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -60%, 0);
    transform: translate3d(0, -60%, 0);

  }
}

@keyframes fadeInTopForm {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -60%, 0);
    transform: translate3d(0, -60%, 0);

  }
}

.fadeInTopForm {
  -webkit-animation-name: fadeInTopForm;
  animation-name: fadeInTopForm;
}

/*/animations_END*/


/*pop-up contact form*/

#popup-contact{
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  max-width: 1080px;
  /*min-height: 700px;*/
  left: 50%;
  margin-left: -540px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 90;
  overflow: hidden;
  box-sizing: border-box;
  padding: 4% 6% 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.ellipsegrad{
  background: radial-gradient(510.78px at 50.12% 24.5%, rgba(33, 41, 73, 0.5225) 0%, rgba(77, 48, 98, 0.4675) 14.06%, rgba(164, 63, 148, 0.4125) 30.21%, rgba(242, 8, 91, 0.3575) 46.88%, rgba(248, 115, 141, 0.2475) 64.06%, rgba(250, 248, 230, 0.0825) 82.81%, rgba(255, 255, 255, 0) 100%);
  transform: matrix(1.5, -0.86, 0.87, 0.5, 0, 0);
  width: 633.05px;
  height: 946.54px;
  position: fixed;
  z-index: 91;
  top: -500px;
  left: -50px;
}

#popup-contact .textblock{
  z-index: 92;
  position: relative;
  width: 66%;

}

#popup-contact h2{
  font-family: 'Objectivity';
  font-weight: 400;
  font-size: 34px;
}


#popup-contact p{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

#close-pop{
  position: absolute;
  right: 3%;
  top: 10%;
  cursor: pointer;
}

.textblock .gradline{
  margin: 0;
  width: 130%;
}

#popup-contact form{
  position: relative;
  z-index: 93;
  text-align: center;
  margin-top: 15px;
}

#popup-contact input,
#popup-contact input::placeholder,
#popup-contact textarea,
#popup-contact textarea::placeholder
{
  background-color: transparent;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  border: none;
  resize: none;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#popup-contact input{
  width: 95%;
  height: 40px;
}

#popup-contact textarea{
  height: 85px;
  width: 100%;
  padding-top: 10px;
  margin-top: -10px;
  overflow-y: hidden;
}

.tallfield{
  width: 60% !important;
  height: 85px !important;
}

.tallfield textarea::placeholder{
  position: relative;
  bottom: -55px;
}

input#sendform{
  border: 1px solid #57CA93;
  color: #57CA93;
  border-radius: 34px;
  width: 200px;
  padding: 4px 7px;
}

input#sendform:hover{
  border-color: #91dcb8;
  color: #91dcb8;
}

#attach-text{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin-top: 8px;
}

#attach-clip img{
  width: 26px;
  margin-left: 10px;
  position: relative;
  top: -2px;
}

#attach-clip img.hasfile,
#attach-clip img.deletefile{
  width: 20px;
  border-radius: 50%;
  padding: 2px;
}

#attach-clip img.hasfile{
  border: 1px solid #4192CC;
}

#attach-clip img.deletefile{
  border: 1px solid #F2085B;
}

.input-file-container{
  margin: 10px auto 0px;
  height: 50px;
  border: 1px solid transparent;
  width: 220px;
  padding: 5px 0px;
  box-sizing: border-box;
}

.border-wrap{
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1%;
  text-align: left;
  width: 40%;
  height: 40px;
}

.border-wrap > input,
.border-wrap > textarea{
  color: white;
  padding: 0 8px;
}

.noborder{
  border: none !important;
}


#popup-contact .okborder input,
#popup-contact .okborder input::placeholder{
  color: rgb(87, 202, 147) !important;
}

.bluecol{
  color: #4192CC !important;
}

.redcol{
  color: #F2085B !important;
}

.okborder{
  border-bottom: 1px solid rgba(87, 202, 147, 0.5) !important;
  /*border-right: none !important;*/
}

.okborder:after{
  content: "";
  background: url(../img/green-check.png);
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 93;
  top: -28px;
  display: inline-block;
  right: -90%;
}

#popup-contact .badborder input,
#popup-contact .badborder input::placeholder{
  color: rgb(242, 8, 91) !important;
}

.badborder{
  border-bottom: 1px solid rgba(242, 8, 91, 0.5) !important;
  /*border-right: none !important;*/
}

.badborder:after{
  content: "";
  background: url(../img/red-cross.png);
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 93;
  top: -28px;
  display: inline-block;
  right: -90%;
}

.badborder:before{
  /*check if we need this*/
}

.delfileborder{
  border: 1px solid #F2085B;
  border-radius: 34px;
}

/*/popup*/

/*scrollable div*/

.scrollable{
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}


/*portfolio*/

#portfolio .title{
  padding: 25px 0 0 5%;
  margin-bottom: -100px
}


#portfolio h2{
  font-weight: normal;
  font-size: 54px;
}

.portfolio-bg{
    background-color: rgba(0, 0, 0, 0.82);
    margin: 65px 2% 10% 2%;
}

.portfolio-item{
  height: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.part3, .part6{
  display: inline-block;
  height: 100%;
  text-align: initial;
  box-sizing: border-box;
}

.part3{
  width: 24%;
}

.part6{
  width: 50%;
}

.part6.thumbnail{
  background-size: cover;
  background-position: center top;
  vertical-align: top;
  /*margin-left: -5px;*/
}

.part3.description{
  padding: 15% 5% 5% 3%;
}

.description.yellow{
  background: rgba(216, 179, 106, 0.85);
}

.description.blue{
  background: rgba(95, 134, 207, 0.85);
}

.description.red{
  background: rgba(235, 90, 85, 0.85);
}

#portfolio .description .gradline{
  margin: 0;
}

.description h4{
  font-family: 'Objectivity';
  font-weight: 300;
  font-size: 24px;
}

.description p{
  margin-top: 30px;
  font-size: 16px;
  font-weight: 200;
  line-height: 16px;
}

.description .line{
  width: 100%;
  height: 2px;
}

/*items*/
.yana{
  background: url(../img/portfolio/thumbnails/yana.jpg);
}

.leafus{
  background: url(../img/portfolio/thumbnails/leafus.jpg);
}

.bari{
  background: url(../img/portfolio/thumbnails/bari.jpg);
}



/*
 *  scroll bar style
 */

 .coolscroll:-webkit-scrollbar-track
 {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #F5F5F5;
   border-radius: 10px;
 }

 .coolscroll::-webkit-scrollbar
 {
   width: 10px;
   background-color: #F5F5F5;
 }

 .coolscroll::-webkit-scrollbar-thumb
 {
   border-radius: 10px;
   background-color: #A43F94;
 }

/*
 * ##############
 * ##############
 *  MOBILE VERSION
 * ##############
 * ##############
 */

@media screen and (max-width: 812px) {

  /* smooth scroll fix */
  html, body {
    /*overflow-y: scroll !important;  has to be scroll, not auto */
    overflow-x: hidden !important;
    /*overflow-y: visible;*/
    /*-webkit-overflow-scrolling: touch;*/
  }

  .mobile{
    display: initial;
  }

  .desktop{
    display: none;
  }

  #cont, #sticky_rotated, 
  .digisol-item-pair, .empty,
  .description .line, .ellipsegrad {
      display: none;
  }

  #menu {
      padding: 50px 15px 0;
      width: 100%;
      position: relative;
  }

  #mobile-menu-burger img{
    margin-top: -5px;
  }

  #mobile-menu-burger:hover{
    cursor: pointer;
  }

  .main section{
    width: 100%;
    height: auto !important;
  }


  #title_main {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0;
    transform: translate(0);
  }

  .topnav-right {
    margin-right: 0px;
}

  #logo{
    position: absolute;
    top: 50%;
    height: 120px;
    margin-top: -128px; /*-60 as a half of heght and -68 heaight of menu*/
    margin-bottom: 0;
    width: 84px;
    margin-left: -42px;
  }

  #footer {
    font-size: 3.3vw;
    font-weight: 500;
    bottom: 15px;
    position: relative;
    left: 1.2em;
}

  #circles-bg img.big.c1,
  #circles-bg img.big.c2,
  #circles-bg img.big.c3,
  #circles-bg img.big.c4{
    right: -20px;
    bottom: 120px;
    height: 320px;
  }

  #circles-bg img.small.c1,
  #circles-bg img.small.c2,
  #circles-bg img.small.c3,
  #circles-bg img.small.c4{
    right: -100px;
    bottom: 20px;
    height: 320px;
  }

  #stringlogo {
    letter-spacing: -2px;
    font-size: 32px;
  }

  #mobile-menu{
    /*header height = 68px*/
    height: calc(100% + 68px);
    width: 78%;
    top: -68px;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 9;
    transition: transform 250ms cubic-bezier(0.510, 0.010, 0.550, 1.000);
  }

  #mobile-menu ul{
    list-style-type: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 60px;
    text-align: right;
    color: #FFFCFB;
    height: 100%;
    padding: 100% 20px;
  }

  #mobile-menu a { color: inherit; }

  #mobile-menu li.active:before{
    content: "• ";
    font-size: 35px;
    vertical-align: bottom;
  }

  #about-us .description {
    min-width: 100px;
    width: 100%;
    margin-top: 5%;
  }

  #about-us h2{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20%;
  }

  .dark-bg {
    margin: 0 5%;
    padding: 11%;
}

  .hidden{
    visibility: visible !important;
  }

  #whatwedo a {
    padding: 20px 30px;
  }

  #whatwedo{
    margin-top: 20%;
  }

  #whatwedo h3{
    margin-top: 20%;
  }

  .imgrow{
    width: 100%;
    margin-top: 0%;
    text-align: center;
  }

  .imgrow img {
      position: relative;
      left: 0%;
      width: 46%;
      filter: grayscale(100%);
      opacity: 0.5;
      transition: all 0.5s ease !important;
  }

  #about-us{
    /*height: 550px;*/
    margin-bottom: 30px;
  }

  #about-us h3{
    margin-top: 20%;
    margin-bottom: 5%;
    font-size: 34px;
  }


  .dark-bg h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20%;
  }

  .servicerow{
    display: block;
  }

  .servicerow .col-6 {
       flex: none;
        max-width: 80%;
  }

  .servicerow .col-4 {
      flex: none;
      max-width: 80%;
  }

  .workhead{
    margin-top: 11%;
  }

  .workhead:first-child{
      margin-top: 5%;
  }

  .workdesc{
      display: block;
      margin-bottom: 10%;
  }


  #portfolio{
    top: 60em !important;
    margin-top: 15%;
    height: auto;
  }

  .portfolio-bg{
    margin: 0 5%;
    padding: 11%;
  }

  .portfolio-bg > *{
    margin-right: -15px;
    margin-left: -15px;
  }

  .client_logo:not(.child0):not(.child1){
    display: none;
  }

  .child0{
    padding-right: 5px;
  }

  .child1{
    padding-left: 5px;
  }

  .child0:before{

  }

  .child1:after{

  }

  #services{
    /*height: 600px !important;*/
  }

  #services-text {
    margin-top: 0;
  }

  #portfolio h2 {
      font-weight: normal;
      font-size: 36px;
      margin-bottom: 20%;
  }

  #portfolio .title {
    padding: 0;
    margin-bottom: 0px;
  }

  #portfolio  .gradline{
    margin: 0;
  }

  #about-us .gradline {
    min-width: inherit;
    width: 100%;
    box-sizing: content-box;
}

  .portfolio-item{
    margin-top: 5%;
    flex-direction: column;
    border-bottom: 20px solid transparent;
  }

  .empty.part3{
    display: none;
  }

  .part3, .part6{
    display: initial;
    width: 100%;
  }

  .part3.description {
    padding: 10% 10% 0;
    height: 60%;
    /* description always first on mobile */
    order: -1;     
  }

  .scrollable {
    height: auto;
  }

  .description p{
    margin-top: 0;
    font-size: 12px;
  }

  #popup-contact{
    height: 100%;
    left: 0;
    margin-left: 0;
    padding: 30% 10%;
  }

  #popup-contact p {
      font-size: 12px;
  }

  #popup-contact h2 {
    font-size: 24px;
  }

  #popup-contact .textblock {
      width: 90%;
  }

  .border-wrap {
    width: 80%;
    height: 10%;
  }

  #popup-contact form {
    margin-top: 5%;
  }

  .tallfield {
    width: 80% !important;
    height: 20% !important;
  }

  #popup-contact textarea {
      margin-top: -17px;
  }

  .input-file-container {
    margin: 0px auto;
    height: 7%;
  }

  #close-pop {
    right: 10%;
    top: 17%;
  }

  

/*use this*/
/*@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {}*/

}

