 body{
        margin: 0;
        font-family: 'Roboto', sans-serif;
        overflow-x: hidden;
    }


    h1{
      font-size: 50px;
    }

    h1, h2, h3, h4, h5, h6, p{
      color: #FFFCFB;
    }

    /*Circles*/

    #circles-bg{
      height: 120%;
      width: 100%;
      position: fixed;
      z-index: -1;
      background-color: #131621;
    }

    #circles-bg img{
      height: 100%;
      overflow: hidden;
    }

    #circles-bg img.big{
      height: 80%;
      position: absolute;
    }

     #circles-bg img.small{
      height: 70%;
      position: absolute;
    }

    /*SLIDE #1*/
    #circles-bg img.big.c1{
      right: 8%;
      bottom: -20%;
    }

    #circles-bg img.small.c1{
      right: -8%;
      bottom: -30%;
    }

    /*SLIDE #2*/
    #circles-bg img.big.c2{
      right: 40%;
      bottom: -20%;
      transform: rotate(230deg) !important;
    }

    #circles-bg img.small.c2{
      right: 70%;
      bottom: -30%;
      transform: rotate(230deg) !important;
    }

    /*SLIDE #3*/
    #circles-bg img.big.c3{
      right: 40%;
      bottom: 60%;
      transform: rotate(130deg) !important;
    }

    #circles-bg img.small.c3{
      right: 70%;
      bottom: 80%;
      transform: rotate(130deg) !important;
    }

    /*SLIDE #4*/
    #circles-bg img.big.c4{
      right: 8%;
      bottom: 60%;
      transform: rotate(80deg) !important;
    }

    #circles-bg img.small.c4{
      right: -8%;
      bottom: 80%;
      transform: rotate(80deg) !important;
    }

    .circle.big, .circle.small{
      -webkit-transition: all 2000ms cubic-bezier(0.510, 0.010, 0.550, 1.000); 
   -moz-transition: all 2000ms cubic-bezier(0.510, 0.010, 0.550, 1.000); 
     -o-transition: all 2000ms cubic-bezier(0.510, 0.010, 0.550, 1.000); 
        transition: all 2000ms cubic-bezier(0.510, 0.010, 0.550, 1.000); /* custom */
    }


    /*Animations*/

/*    .c1c2_big{
      animation-duration: 1s;
      animation-name: c1c2_big;
      animation-delay: .3s;
      left: -3%;
      right: unset;
    }

    @keyframes c1c2_big{
      from{
        right: 8%;
        left: unset;
      }

      to{
        left: -3%;
        right: unset;
      }
    }

    .c1c2_small{
      animation-duration: 1s;
      animation-name: c1c2_small;
      animation-delay: .3s;
      left: -20%;
      right: unset;
    }

    @keyframes c1c2_small{
      from{
        right: -8%;
        left: unset;
      }

      to{
        left: -20%;
        right: unset;
      }
    }*/

    /*Slider*/

    #slider{
      height: 100%;
      overflow: hidden;
    }

    #title_main{
        padding: 10% 0 0 5%;
    }

    .digisol_header{
        font-weight: 700;
        font-size: 110px;
        color: white;
        margin: 0;
    }

    #digisol_subheader{
        font-weight: 400;
        font-size: 40px;
        color: white;
        margin: 0;
        margin-top: 60px;
    }

    h1 span{
        color: #F44C82 !important;
        font-weight: 700;
    }

    .corporate_gradient{
        background: linear-gradient(45deg, #212949 33%, #F20E6D 66%, #6969B3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #0B2349;
        margin: 20px auto;
    }

    /*menu*/

    #menu{
        padding: 2% 7% 0 0;
        text-align: right;
    }

    #menu a{
        text-decoration: none;
        padding: 0 3%;
        color: white;
        font-size: 18px;
    }

    #logo{
        float: left;
        padding: 1% 0 0 5%;
    }

    #logo svg{
        border-radius: 50%;
    }

    #lm{
        padding-left: 10%;
        color: white;
        font-size: 14px;
        padding-left: 18%;
        text-transform: uppercase;
    }

    #lm #cirme{
        background: linear-gradient(180deg, #FDF7C3 1.56%, #E51E6E 34.37%, #BC398A 68.23%, #6969AD 98.95%, #49576D 98.96%, #49576D 98.97%), #FFFFFF;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: inline-block;
    }

    #cirme svg{
        padding: 7px 0 0 9px;
    }

    /*about us*/

    .rightside{
      max-width: 992px;
      margin-left: auto;
      padding: 0 0 0 80px;
    }

    .leftside{
      max-width: 992px;
      margin-right: auto;
      padding:  0 80px 0 0;
    }

    section{
      color: white;
      padding: 50px;
      height: 100%;
    }

    #about-us .halftext{
      max-width: 70%;
      color: #FFFCFB;
      font-size: 20px;
    }

    #whatwedo{
      margin-top: 50px;
    }

    #whatwedo a{
      padding: 15px 25px;
      border-radius: 5px;
      font-size: 20px;
      font-family: Roboto;
      background-color: #F8738D;
      font-weight: 700;
      border: none;
      color: #131621;
      text-decoration: none;
    }



/*glitch*/
.digisol_header{
  line-height: 0;
}

.glitch {
  /*Animation*/
  animation: glitch1 2.5s infinite;
}

.glitch:nth-child(2) {
  /*color: #67f3da;*/
  animation: glitch2 2.5s infinite;
}

.glitch:nth-child(3) {
  /*color: #f16f6f;*/
  animation: glitch3 2.5s infinite;
}


.digisol_header:hover .digisol_header {
  /*Animation*/
  animation: glitch1 2.5s infinite;
}

.digisol_header:hover .digisol_header:nth-child(2) {
  /*color: #67f3da;*/
  animation: glitch2 2.5s infinite;
}

.digisol_header:hover .digisol_header:nth-child(3) {
  /*color: #f16f6f;*/
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}