<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Digisol Website</title>

    <!-- jQuery -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>

    <!-- glitch -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>

    <!-- rotate -->
    <script src='{{ url_for("static", filename="js/jQueryRotate.js") }}'></script>

    <!-- one-page scroll -->
    <link rel="stylesheet" href='{{ url_for("static", filename="css/onepage-scroll.css") }}'>
    <script src='{{ url_for("static", filename="js/jquery.onepage-scroll.js") }}'></script>

    <!-- custom -->
    <link rel="stylesheet" href='{{ url_for("static", filename="css/main.css") }}'>
    <script src='{{ url_for("static", filename="js/main.js") }}'></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
    <div id="circles-bg">
        <img src="../static/img/radient-circle.png" alt="Circle Big" class="circle big c1">
        <img src="../static/img/radient-circle.png" alt="Circle Small" class="circle small c1">
    </div>
    <nav >
        <a href="/">
        </a>
            <div id="menu">
                <a href="#about-us">About US</a>
                <a href="#services">Services</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contacts">Contacts</a>
            </div>
    </nav>
    <div class="main">
        <section id="slider">
                <div id="title_main">
                    <img src="../static/img/digisol-d.png" id="logo">
                    <h1 class="digisol_header">digisol</h1>
                    <h1 class="digisol_header">digisol</h1>
                    <h1 class="digisol_header">digisol</h1>
                    <h1 class="digisol_header">digisol</h1>
                </div>
        </section>
        <section id="about-us">
            <div class="rightside">
                <h1>Hello, We are Digisol</h1>
                <p class="halftext">We help businesses grow by telling their story & creating amazing digital experiences.</p>
                <p class="halftext">Our are team of young yet experienced perfectionists, provides full-cycle of services helping your company to become a leading representative on the Web.</p>
                <div id="whatwedo">
                    <a href="#services" >
                        What we do?
                    </a>
                </div>
            </div>
        </section>
        <section id="services">
            <div class="rightside">
                <h1>our services</h1>
            </div>
        </section>
        <section id="portfolio">
            <div class="leftside">
                <h1>our works</h1>
            </div>
        </section>
    </div>

        <script>
            // scroll fullscreen
            $(".main").onepage_scroll({
               sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
               easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
                                                // "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
               animationTime: 300,             // AnimationTime let you define how long each section takes to animate
               pagination: true,                // You can either show or hide the pagination. Toggle true for show, false for hide.
               updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
               beforeMove: function(index) {
                    // change circles position on slide change
                    var cls = "c" + index
                    $(".big").removeClass("c1 c2 c3 c4").addClass(cls);
                    $(".small").removeClass("c1 c2 c3 c4").addClass(cls);
                
               },  // This option accepts a callback function. The function will be called before the page moves.
               afterMove: function(index) {
                    
                    
               },   // This option accepts a callback function. The function will be called after the page moves.
               loop: true,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
               keyboard: true,                  // You can activate the keyboard controls
               responsiveFallback: false,        // You can fallback to normal page scroll by defining the width of the browser in which
                                                // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
                                                // the browser's width is less than 600, the fallback will kick in.
               direction: "horizontal"            // You can now define the direction of the One Page Scroll animation. Options available are "vertical" and "horizontal". The default value is "vertical".
            });

        </script>
</body>
</html>
