<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Digisol Website</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <!-- glitch -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300&display=swap" rel="stylesheet">

    <!-- rotate -->
    <script src='{{ url_for("static", filename="js/jQueryRotate.js") }}'></script>

    <!-- one-page scroll -->
    <link rel="stylesheet" href='{{ url_for("static", filename="css/onepage-scroll.css") }}'>
    <script src='{{ url_for("static", filename="js/jquery.onepage-scroll.js") }}'></script>

    <!-- custom -->
    <link rel="stylesheet" href='{{ url_for("static", filename="css/main.css") }}'>
    <script src='{{ url_for("static", filename="js/main.js") }}'></script>
</head>

<body>
    <div id="circles-bg">
        <img src="../static/img/radient-circle.png" alt="Circle Big" class="circle big c1">
        <img src="../static/img/radient-circle.png" alt="Circle Small" class="circle small c1">
    </div>
    
    <nav id="menu">
        <a href="javascript:$('.main').moveTo(1);" id="stringlogo">
            digisol agency
        </a>
        <div class="topnav-right">
            <a id="cont" href="#contacts">contact</a>
        </div>
    </nav>
    <div class="main">
        <section id="slider">
            
            <div id="title_main" cls>
                <img src="../static/img/digisol-d.png" id="logo">
                <div class="digisol-item-pair">
                    <h1 class="digisol_header layer4">digisol</h1>
                    <a href="javascript:$('.main').moveTo(1);" class="hide menuitem menuitem4">main page</a>
                </div>
                <div class="digisol-item-pair">
                    <h1 class="digisol_header layer3">digisol</h1>
                    <a href="javascript:$('.main').moveTo(2);" class="hide menuitem menuitem3">about us</a>
                </div>
                <div class="digisol-item-pair">
                    <h1 class="digisol_header layer2">digisol</h1>
                    <a href="javascript:$('.main').moveTo(3);" class="hide menuitem menuitem2">services</a>
                </div>
                <div class="digisol-item-pair">
                    <h1 class="digisol_header layer1 wiggle">digisol</h1>
                    <a href="javascript:$('.main').moveTo(4);" class="hide menuitem menuitem1">portfolio</a>
                </div>
            </div>
            <p id="sticky_rotated">digital solutions for your business</p>
        </section>
        <section id="about-us">
            <div class="rightside">
                <h1>Hello, We are Digisol</h1>
                <p class="halftext">We help businesses grow by telling their story & creating amazing digital
                    experiences.</p>
                <p class="halftext">We are the team of young yet experienced perfectionists, provides full-cycle of
                    services helping your company to become a leading representative on the Web.</p>
                <div class="halftext" id="whatwedo">
                    <a href="javascript:$('.main').moveTo(3);">
                        What we do?
                    </a>
                </div>
            </div>
        </section>
        <section id="services">
            <div class="rightside">
                <h1>our services</h1>
            </div>
        </section>
        <section id="portfolio">
            <div class="leftside">
                <h1>our works</h1>
            </div>
        </section>
    </div>

    <script>

    </script>
</body>

</html>